$color_1: var(--default-color);
$font-family_1: "Roboto", sans-serif;
$background-color_1: #B47FF6;
$background-color_2: var(--default-color);
$background-color_3: transparent;
$background-color_4: #A6C9FF;
$background-color_5: var(--color-akcent);
$background-color_6: #7029CB;
$background-color_7: #497957;
$background-color_8: #3ADE4B;
$background-color_9: #D4FF5A;
$background-color_10: #D87FF6;

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--default-color: #fff;
	--color-akcent: #FF4B4B;
}
body {
	max-width: 1170px;
	font-size: 24px;
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 100;
	font-style: normal;
	margin: 0 auto;
}
h1 {
	font-size: 45px;
	font-weight: 700;
}
h2 {
	font-size: 30px;
	font-weight: 600;
}
a {
	text-decoration: none;
	color: $color_1;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
.container {
	max-width: 1170px;
	width: 100%;
	color: $color_1;
	position: relative;
}
header {
	background-color: $background-color_1;
}
.header__nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 55px 0 55px 155px;
}
.header__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: clamp(20px, 4vw, 60px);

	>li {
		>a {
			font-size: 28px;
			font-weight: 400;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.burger {
	position: absolute;
	width: 40px;
	height: fit-content;
	cursor: pointer;
	right: 55px;
	z-index: 20;
	outline: none;
	border: none;
	span {
		width: 100%;
		height: 4px;
		background-color: $background-color_2;
		border-radius: 12px;
		display: block;
		transition: background-color 0.5s ease-in-out;
		-webkit-transition: background-color 0.5s ease-in-out;
		-moz-transition: background-color 0.5s ease-in-out;
		-ms-transition: background-color 0.5s ease-in-out;
		-o-transition: background-color 0.5s ease-in-out;
		&::before {
			content: "";
			width: 100%;
			background-color: $background-color_2;
			display: block;
			transition: all 0.5s ease-in-out;
			border-radius: 12px;
			height: 4px;
			transform: translateY(-10px);
		}
		&::after {
			content: "";
			width: 100%;
			background-color: $background-color_2;
			display: block;
			transition: all 0.5s ease-in-out;
			border-radius: 12px;
			height: 4px;
			transform: translateY(10px);
			margin-top: -4px;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
			-o-transform: translateY(10px);
		}
	}
}
.burger.active {
	background-color: $background-color_3;
	span {
		background-color: $background-color_3;
		&::before {
			transform: rotateZ(45deg) translateY(0);
		}
		&::after {
			transform: rotateZ(-45deg) translateY(0);
		}
	}
}
.burger__wrap {
	position: absolute;
	top: -130vw;
	left: 0%;
	padding: 33px 57px;
	background-color: $background-color_4;
	width: 451px;
	height: 500px;
	z-index: 1000;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: 1px solid #00FF4A;
	>a {
		display: flex;
		margin: 0 auto;
		width: fit-content;
		text-align: center;
		background-color: $background-color_5;
		padding: 15px 25px;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
		font-weight: 400;
	}
}
.burger__wrap.active {
	top: 0;
	left: 0;
}
.header__burger-menu {
	display: flex;
	flex-direction: column;
	gap: 39px;
	margin-bottom: 55px;
	>li {
		line-height: 45px;
		>a {
			font-size: 28px;
			font-weight: 400;
		}
	}
}
main {
	padding: 40px 0;
	background: #A6C9FF;
}
.carusel {
	background-color: $background-color_6;
	width: 100%;
}
.carousel__wrap {
	position: relative;
	width: 100%;
	height: 176px;
	margin: auto;
	overflow: hidden;
}
.track {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 300ms ease-in-out;
}
.slide {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	font-size: 2rem;
	gap: 32px;
	>a {
		margin-right: 10%;
		padding: 15px 25px;
		background-color: $background-color_5;
		color: $color_1;
		font-size: 24px;
		font-weight: 400;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
		box-shadow: 2px 5px 10px #497957;
		border: none;
	}
}
.prev {
	position: absolute;
	border: none;
	top: 49px;
	font-size: 2rem;
	background: none;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
	left: 49px;
}
.next {
	position: absolute;
	border: none;
	top: 49px;
	font-size: 2rem;
	background: none;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
	right: 49px;
}
.popup__block {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
	align-items: center;
	justify-content: center;
	&:target {
		visibility: visible;
		opacity: 1;
		z-index: 1000;
	}
}
.popup__wrap {
	padding: 15px;
	background: #A6C9FF;
	width: 400px;
	height: 400px;
	position: relative;
	.popup__close {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 23px;
		font-weight: 400;
		background-color: $background-color_7;
		color: $color_1;
		padding: 8px 15px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
}
.popup__content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 13px;
	>h2 {
		width: 100%;
		margin: 40px auto;
		text-align: center;
	}
}
.block-2__item {
	background-color: $background-color_8;
	width: 100%;
	height: 198px;
	font-size: 53px;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.item-1 {
	&::before {
		content: '1';
	}
	width: 392px;
}
.item-2 {
	&::before {
		content: '2';
	}
	width: 765px;
}
.item-3 {
	&::before {
		content: '3';
	}
	width: 995px;
}
.item-4 {
	&::before {
		content: '4';
	}
	width: 162px;
}
.block-3 {
	margin: 40px 25px 0;
}
.block-3__title {
	text-align: center;
}
.block-3__wrap {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	padding: 25px;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	background-color: $background-color_9;
	width: 100%;
	max-width: 1170px;
}
.block-3__item {
	flex: 1;
	width: 198px;
	height: 198px;
	background-color: $background-color_7;
	border-radius: 35px;
	border: 2px solid #00FF4A;
	transition: all 0.4s;
	&:hover {
		box-shadow: 2px 5px 10px #497957;
	}
}
.block-4 {
	margin-top: 40px;
	text-align: center;
}
.block-4__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	>p {
		font-weight: 500;
		line-height: 45px;
	}
	>a {
		padding: 15px 25px;
		background-color: $background-color_5;
		border-radius: 25px;
		margin-top: 9px;
		font-weight: 400;
		font-size: 24px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
	}
}
.footer {
	background-color: $background-color_10;
}
.footer__wrap {
	padding: 28px 0;
	display: flex;
	gap: clamp(50px, 10vw, 175px);
	flex-direction: row;
	justify-content: center;
	>li {
		font-size: 28px;
		font-weight: 500;
	}
}



@media (max-width: 1170px) {
 .block-2{
  gap: 1vw;
 }
 .block-2__item{
  &.item-1{
   width: calc(30% - 0.5vw);
  }
  &.item-2{
   width: calc(70% - 0.5vw);
  }
  &.item-3{
   width: calc(80% - 0.5vw);
  }
  &.item-4{
   width: calc(20% - 0.5vw);
  }
 }

 .block-3__wrap{  
	gap: 2vw;
 }


 .block-3__item{
  flex: 1;
  max-width: clamp(54px, 20%, 198px);
  max-height: clamp(54px, 15vw, 198px);
  border-radius: 15px;
 }
}  

@media (max-width: 550px) {
	h1{
		font-size: 8vw;
	}

	.burger__wrap {
		padding: 2vw;
		width: 75vw;
		height: fit-content;
		border: 1px solid #00FF4A;
	}


	.header__nav {
		padding: 55px 5%;
	}
	.slide{
		flex-direction: column;
		> a {
			margin-right: 0;
			padding: 2% 5%;
			background-color: var(--color-akcent);
			color: var(--default-color);
			font-size: 24px;
			font-weight: 400;
			border-radius: 25px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			-ms-border-radius: 25px;
			-o-border-radius: 25px;
			box-shadow: 2px 5px 10px #497957;
			border: none;
		}
	}
	.prev{
		left: 10px;
	}
	.next{
		right: 10px;
	}
}